.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 100px;
}

.orderInfo {
    display: flex;
    flex-direction: column;
}

.operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 40px;
}

@media (max-width: 821px) {
    .grid {
        grid-template-columns: 2fr 1fr;
    }
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .operations {
        margin-top: 20px;
        gap: 20px;
    }

    .operations button {
        font-size: 14px;
    }
}