.title {
  font-size: 20px;
  margin-bottom: 8px;
}

.seperator {
  margin-bottom: 35px;
}

.tableContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: var(--medium-font-weight)
}

.lightFont {
  color: var(--low-emphasis-text-color);
}

.darkFont {
  color: var(--high-emphasis-text-color);
}

.bold {
  font-weight: bold;
  color: var(--high-emphasis-text-color);
}