.title {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: var(--semi-bold-font-weight);
}

.small {
  font-size: 16px;
  color: var(--low-emphasis-text-color);
  font-weight: var(--medium-font-weight);
}

.tableContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: var(--medium-font-weight);
}

.lightFont {
  color: var(--low-emphasis-text-color);
}

.darkFont {
  color: var(--high-emphasis-text-color);
}

.bold {
  font-weight: var(--semi-bold-font-weight);
  color: var(--high-emphasis-text-color);
}
