.tabLabel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
}

.tab {
  padding: 24px 10px !important;
  max-width: none !important;
}

.fontColor1B4B66 {
  color: #1b4b66;
  border-color: #1b4b66;
}

.fontColor13101E {
  color: #13101e;
}
