.discountContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.originalPrice {
  font-size: 14px;
  text-decoration: line-through;
  color: #626262;
}

.discountPercentage {
  font-size: 16px;
  color: #e21d1d;
}
