.container {
    display: flex;
    justify-content: space-between;
}

.productData {
    display: flex;
    gap: 16px;
}

.productSubData {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: var(--medium-font-weight);
    color: var(--high-emphasis-text-color);
}

.subtitle {
    color: var(--low-emphasis-text-color);
}

.rightSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    gap: 16px;
}

.removeButton {
    transition: 0.3s all;
    color: var(--low-emphasis-text-color);
    border: 0;
    outline: 0;
    background-color: unset;
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.removeButton:hover {
    color: var(--high-emphasis-text-color);
}

.removeButton:active {
    color: #a3a3a3;
}

.price {
    color: var(--high-emphasis-text-color);
    font-size: 14px;
    font-weight: var(--medium-font-weight);
}
