.gridsContainer,
.orderTableContainer {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;
}

.gridsContainer {
  gap: 24px;
}

.orderTableContainer {
  gap: 17px;
  margin-right: 43px;
}

.titles {
  font-size: 16;
  font-weight: var(--medium-font-weight);
  color: var(--low-emphasis-text-color);
}

@media (max-width: 900px) {
  .orderTableContainer {
    margin-right: 0;
  }
}
