.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    background-color: #fff;
    transition: 0.5s all;
    z-index: 9999;
}

.navigationSection {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigationLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigationLink {
    text-decoration: none;
    color: #171520;
    font-size: 14px;
    font-weight: 500;
}

.opertaionsSection {
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    gap: 24px;
}

.userOperations {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: #1B4B66;
}

.shoppingContainer {
    position: relative;
    display: flex;
}

.dot {
    position: absolute;
    background-color: #FF8C4B;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #fff;
    right: 2px;
    top: 4px;
}

.bottomNavigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    border-top: 1px solid #ffffff21;
    display: none !important;
}

.closeDrawer {
    border: 0;
    background-color: transparent;
    display: inline-flex;
    width: fit-content;
    align-items: center;
    gap: 20px;
    color: #1B4B66;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s all;
    margin-bottom: 40px;
}

.closeDrawer:hover {
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    color: #2e96d2;
}


.continueShopping {
    display: inline-block;
    margin: auto;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s all;
    border: 0;
    outline: unset;
    background-color: transparent;
    color: #1B4B66;
}

.continueShopping:hover {
    color: #2e96d2;
}


.financialDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.total {
    font-size: 16px;
    font-weight: 500;
}


.check {
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #1B4B66;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%) translateX(-25%);
    cursor: pointer;
    transition: 0.3s all;
}

.check:hover {
    color: #2e96d2;
}

.check:active {
    color: #1B4B66;
}

@media (max-width: 1000px) {

    .navigationLinks,
    .userOperations {
        display: none;
    }

    .opertaionsSection {
        grid-template-columns: 1fr;
    }

    .bottomNavigation {
        display: flex !important;
    }

    .header {
        padding: 0.5rem;
    }

    .navigationSection img {
        width: 70px;
    }
}