.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: sticky;
    top: 0;
    background-color: var(--white);
    transition: 0.5s all;
    z-index: 9999;
}

.navigationSection {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigationLinks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navigationLink {
    text-decoration: none;
    color: var(--high-emphasis-text-color);
    font-size: 14px;
    font-weight: var(--medium-font-weight);
}

.opertaionsSection {
    display: grid;
    grid-template-columns: 300px auto;
    align-items: center;
    gap: 24px;
}

.userOperations {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    color: var(--primary);
}

.shoppingContainer {
    position: relative;
    display: flex;
}

.dot {
    position: absolute;
    background-color: var(--highlight);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid var(--white);
    right: 2px;
    top: 4px;
}

.bottomNavigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99999;
    border-top: 1px solid var(--white);
    display: none !important;
}

@media (max-width: 1000px) {

    .navigationLinks,
    .userOperations {
        display: none;
    }

    .opertaionsSection {
        grid-template-columns: 1fr;
    }

    .bottomNavigation {
        display: flex !important;
    }

    .header {
        padding: 0.5rem;
    }

    .navigationSection img {
        width: 70px;
    }
}
