.inputWrapp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputLabel {
  font-weight: var(--semi-bold-font-weight);
  position: relative;
}

.inputContainer {
  background-color: var(--grey);
  padding: 1rem;
  display: flex;
  gap: 8px;
  font-weight: var(--semi-bold-font-weight);
  width: 100%;
  position: relative;
}

.inputWrapp:has(input:required) .inputLabel::before {
  content: "*";
  position: absolute;
  top: 0;
  right: 0;
  color: #B00020;
}

.inputContainer input {
  border: 0;
  outline: 0;
  background-color: transparent;
  width: -webkit-fill-available;
}

.inputContainer input::placeholder {
  color: var(--low-emphasis-text-color);
  font-weight: var(--semi-bold-font-weight);
}

.inputContainer input.grey::placeholder {
  color: var(--light-text-color);
  font-weight: var(--regular-font-weight);
}

@media (max-width: 768px) {
  .inputContainer {
    padding: 0.5rem;
  }

  .inputContainer input::placeholder {
    font-size: 10px;
  }
}