.paymentMethodContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 13px;
  height: 143px;
  border: 1px solid #e3e3e3;
  flex: 0 0 160px;
}

.input {
  position: absolute;
  top: 12px;
  right: 10px;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  outline: none;
  border: 2px solid var(--low-emphasis-text-color);
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 70%;
  height: 70%;
  margin: 15% auto;
  margin-right: 13%;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: var(--primary);
}

input[type="radio"]:checked {
  border-color: var(--primary);
}

.paymentMethodContainer:has(input:checked) {
  background-color: rgb(75, 155, 161, 8%);
  border-color: var(--primary);
}

.paymentMethodImg {
  margin-top: 40px;
}