.circleLink {
    display: inline-flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-color: #639599;
    transition: 0.2s all;
    border-radius: 50%;
}

.circleLink:hover {
    background-color: #aedadd;
}

.circleLink:active {
    background-color: #87b5b8;
}