.ratingContainer,
.priceContainer {
  display: flex;
  align-items: center;
}

.ratingContainer {
  gap: 16px;
}

.priceContainer {
  gap: 6px;
}

.ratingCount {
  font-size: 14px;
  font-weight: var(--medium-font-weight);
  color: var(--primary);
}

.discountPrice {
  font-size: 16px;
  font-weight: var(--medium-font-weight);
}
