.ratingContainer,
.priceContainer {
  display: flex;
  align-items: center;
}

.ratingContainer {
  gap: 16px;
}

.priceContainer {
  gap: 6px;
}

.ratingCount {
  font-size: 14px;
  font-weight: 500;
  color: #1b4b66;
}

.discountPrice {
  font-size: 16px;
  font-weight: 500;
}
