.title {
    color: var(--primary);
    font-size: 34px;
    font-weight: 600;
    line-height: 44px;
    margin-bottom: 24px;
    text-transform: capitalize;
}

@media (max-width: 600px) {
    .title {
        font-size: 22px;
        margin-bottom: 12px;
    }
}