.input_wrapp {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_label {
    font-weight: 600;
}

.input_container {
    background-color: #F1F1F1;
    padding: 1rem;
    display: flex;
    gap: 8px;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
}

.input_container input {
    border: 0;
    outline: 0;
    background-color: transparent;
    width: -webkit-fill-available;
}

.input_container input::placeholder {
    color: #626262;
    font-weight: 600;
}