/* basic reset */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --primary: #1b4b66;
  --primary-tint: #639599;
  --error: #b00020;
  --highlight: #ff8c4b;
  --accent: #f4f4f4;
  --dark: #13101e;
  --white: #ffffff;
  --grey: #f1f1f1;
  --light-text-color: #b6b6b6;
  --high-emphasis-text-color: #171520;
  --low-emphasis-text-color: #626262;

  --thin-font-weight: 100;
  --extra-light-font-weight: 200;
  --light-font-weight: 300;
  --regular-font-weight: 400;
  --medium-font-weight: 500;
  --semi-bold-font-weight: 600;
  --bold-font-weight: 700;
  --extra-bold-font-weight: 800;
  --black-font-weight: 900;
}
