.circleLink {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s all;
  border-radius: 50%;
}

.circleLink:hover {
  filter: brightness(0.9);
}

.circleLink:active {
  filter: brightness(1);
}
