.cardTopContainer {
  display: flex;
  flex-direction: column;
  width: min-content;
}

.cardDetails {
  display: grid;
  flex-grow: 1;
}

.cardDetails>* {
  margin-top: 8px;
}

.titleSection {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.title {
  font-size: 16px;
  font-weight: var(--medium-font-weight);
}

.subtitle {
  font-size: 14px;
  color: var(--low-emphasis-text-color);
}
